.body{
    background-color: black;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
}

.box1{
    background-color: darkgreen;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    /* flex-shrink: 1; */
    /* flex-basis: 300px; */
    /* flex-basis works according to the flex direction of its parent container */
    flex-grow: 1;
}
.box2{
    background-color: darkred;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    /* flex-shrink: 1; */
    /* flex-basis: 300px; */
    /* flex-basis works according to the flex direction of its parent container */
}

/* -------------flex grow distributes the space of its container ---------------- */
/* .box2{
    background-color: red;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    flex-grow: 1;
} */
.linebreak{
    background-color: darkgray;
    height: 2px;
    flex-basis: 100%;
}
.box3{
    background-color: blue;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    /* flex-grow: 1; */
    /* order: -1000;   order means making box 3 to preceed over the others */
}
.box4{
    background-color: brown;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    flex-grow: 1; 
    /* Giving box 4 a value of 2 makes the space twice the other boxes */
    /* order: -1; */
}
.box5 {
    background-color: cyan;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    /* flex-grow: 1; */
    /* order: -1000;   order means making box 3 to preceed over the others */
}
.box6{
    background-color: purple;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    flex-grow: 1;
    /* Giving box 4 a value of 2 makes the space twice the other boxes */
    /* order: -1; */
}
.box7 {
    background-color: greenyellow;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    flex-grow: 1;
    /* Giving box 4 a value of 2 makes the space twice the other boxes */
    /* order: -1; */
}